*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
}

body{
    background-color:#DC143C;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: min(100px, 5vh);
    background-color: #F75270;
    text-align: center;
    margin: 5vh auto;
    width: min(80%, 800px);
    border-radius: 15px;
    box-sizing: border-box;
}

.minisquare{
    margin: 0;
    background-color: #F7CAC9;
    padding: min(90px, 5vh);
    border-radius: 15px;
    box-sizing: border-box;
}

.square{
    border-radius: 15px;
}

h1{
    color: #DC143C;
    font-size: 60px;
}

button{
    background-color: #F75270;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #FDEBD0;

    &:hover{
        background-color: #FDEBD0;
        color: #F75270;
        cursor: pointer;
    }
}