*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
}

body{
    background-color:#DC143C;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: min(100px, 5vh);
    background-color: #30364F;
    text-align: center;
    margin: 5vh auto;
    width: min(80%, 800px);
    border-radius: 15px;
    box-sizing: border-box;
}

.minisquare{
    margin: 0;
    background-color: #ACBAC4;
    padding: min(90px, 5vh);
    border-radius: 15px;
    box-sizing: border-box;
}

.square{
    border-radius: 15px;
}

input{
    padding: min(30px, 3vh) min(30px, 5vw);
    font-size: min(40px, 6vw);
    background-color: #ACBAC4;
    color: #FFF0C4;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: min(100%, 400px);
    box-sizing: border-box;
}


#submit{
    background-color: #ACBAC4;
    color: #FFF0C4;
    padding: min(10px, 2vh) min(20px, 3vw);
    border: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: min(100%, 400px);
    box-sizing: border-box;
}

#submit:hover{
    background-color: #FFF0C4;
    color: #ACBAC4;
    cursor: pointer;
}