*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
}

body{
    background-color:#778873;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: min(100px, 5vh);
    background-color: #A1BC98;
    text-align: center;
    margin: 5vh auto;
    width: min(80%, 800px);
    border-radius: 15px;
    box-sizing: border-box;
}

.minisquare{
    margin: 0;
    background-color: #D2DCB6;
    padding: min(90px, 5vh);
    border-radius: 15px;
    box-sizing: border-box;
}

.square{
    border-radius: 15px;
}

input{
    padding: min(30px, 3vh) min(30px, 5vw);
    font-size: min(40px, 6vw);
    background-color: #F1F3E0;
    color: #778873;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: min(100%, 400px);
    box-sizing: border-box;
}


#submit{
    background-color: #F1F3E0;
    color: #778873;
    padding: min(10px, 2vh) min(20px, 3vw);
    border: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: min(100%, 400px);
    box-sizing: border-box;
}

#submit:hover{
    background-color: #778873;
    color: #F1F3E0;
    cursor: pointer;
}

#square{
    border: #A1BC98 solid 2px;
    background-color: #A1BC98;
    width: min(500px, 90vw);
    height: min(500px, 90vw);
    padding: min(20px, 3vw);
    margin: 20px auto;
    align-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3 ease-out;
    font-size: min(25px, 4vw);
    box-sizing: border-box;

    &:hover{
        transform: translateY(-5px);
    }
}

#notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: min(20px, 3vw);
    color: black;
}

#messages{
    margin-top: min(20px, 3vh);
    padding: min(15px, 2vw);
    box-sizing: border-box;

    h1{
        font-size: min(60px, 8vw);
        text-align: center;
        line-height:1.2;
        margin-bottom: min(20px, 3vh);
    }
}